body {
    display: flex; /* Use flexbox for centering */
    flex-direction: row; /* Align items in a row */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    background-color: #000000; /* Set background color to black */
    color: white; /* Optional: Set text color to white for visibility */
    text-align: center; /* Center align text and image */
    font-family: 'Kanit', sans-serif; /* Set default font to Kanit */
}

.centered-image {
    width: 150px; /* Set the width of the image to make it small */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Change positioning to absolute */
    margin: 0; /* Remove margin to position it exactly */
}

.top-left {
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}

.top-right {
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

.bottom-left {
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
}

.bottom-right {
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
}

.studio, .partner, .collective {
    margin: 0 99px; /* Add horizontal margin for spacing */
    position: relative; /* Position relative for tooltip positioning */
}

.tooltiptext {
    visibility: hidden; /* Hide tooltip by default */
    width: 200px; /* Set width of tooltip */
    background-color: rgba(0, 0, 0, 0.8); /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center text */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding */
    position: absolute; /* Position absolutely */
    z-index: 1; /* Ensure it appears above other elements */
    bottom: 125%; /* Position above the text */
    left: 50%; /* Center horizontally */
    margin-left: -100px; /* Adjust to center */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s, visibility 0.3s; /* Fade in/out effect */
    font-size: 22px; /* Set font size for tooltip text */
}

.tooltip:hover .tooltiptext {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1; /* Fade in */
    font-size: 22px; /* Set smaller font size on hover */
}

.fade-out {
    opacity: 0; /* Fade out effect */
    visibility: hidden; /* Hide the tooltip */
}

.studio {
    font-size: 30px; /* Set font size for studio text */
    font-weight: bold; /* Make the text bold */
}

.partner {
    font-size: 30px; /* Set font size for partner text */
    font-weight: bold; /* Make the text bold */
}

.collective {
    font-size: 30px; /* Set font size for collective text */
    font-weight: bold; /* Make the text bold */
}

.greyed-out {
    color: grey; /* Change text color to grey */
}

.footer {
    font-family: monospace;
    position: fixed;
    bottom: 55px;
    width: 100%;
}

.footer-link {
    color: rgb(167, 167, 167);
    text-decoration: none;
}
